@import url('./colors.css');
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}
button {
    font-family: 'Adwaita Mono';
    background-color: alpha(@color2,1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;


}

#lock {
    background-image: image(url("./lock.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#shutdown {
    background-image: image(url("./power.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#logout {
    background-image: image(url("./logout.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#reboot {

    background-image: image(url("./restart.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#lock:focus {
    margin : 5px 5px 5px 200px;

}
#shutdown:focus {
    margin : 5px 200px 5px 5px;
}
#logout:focus {
    margin : 5px 200px 5px 5px;
}
#reboot:focus {
    margin : 5px 5px 5px 200px;
}
button:focus{
    background-color: alpha(@color1,1);
    color: #000000;
    background-position:center;
}